@page "/GoogleMaps"
@inject IJSRuntime JsRuntime

<h3>GoogleMaps</h3>
<MudButton StartIcon="@Icons.Filled.Add" Class="my-3" Variant="Variant.Outlined">Add Marker</MudButton>

<div id="googleMap"></div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("googleMaps.initMap");
        }
    }
}
