@page "/empty"
@using BlazorLaboratory.BlazorUI.Shared
@layout EmptyLayout
@inject ISnackbar Snackbar

<div>
    <h1>This page does not implement MainLayout :)</h1>
    <br>
    <button @onclick="ShowAlert">ShowAlert</button>
</div>

@code
{
    private void ShowAlert()
    {
        Snackbar.Add("This works!");
    }
}
