@page "/tia"

<h3>TestItemAlignment</h3>
<style>
    .icon {
        display: block !important;
        width: 20% !important;
        text-align: center !important;
        display: table-cell !important;
        vertical-align: middle !important;
    }

    .text {
        display: block;
        width: 80%;
        display: table-cell;
        vertical-align: middle;
    }

    .container {
        display: table;
        position: relative;
        max-width: 30rem;
        padding: 1em 1em 1em 0;
        background: #111;
        color: #ed3;
    }

    body {
        margin: 0;
        padding: 1em;
    }

    * {
        box-sizing: border-box;
    }
</style>

<div class="container">
    <MudIcon Icon="@Icons.Filled.Lock" class="icon"/>
    <div class="text">Project is unlocked for all collaborators and owner. You can update planning <br> LockProject</div>
</div>

@code {

}
