@page "/GoogleMaps"
@using BlazorLaboratory.BlazorUI.Services.Interfaces

@inject IJSRuntime JsRuntime
@inject ISnackbar Snackbar
@inject IGeocodingService GeocodingService

<h3>GoogleMaps</h3>

<div id="map"></div>
