@page "/dapper"

@if (_users == null)
{
    <span class="loading loading-bars loading-md"></span>
}
else
{
    <button class="btn">Add</button>
    <div class="overflow-x-auto">
        <table class="table table-xs">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Surname</th>
                <th>City</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in _users)
            {
                <tr>
                    <th>@user.Id</th>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@(user.ContactDetails?.City ?? "unknown")</td>
                    <td><img src="icons/edit.svg" width="20px" height="20px" alt="edit"/></td>
                    <td @onclick="() => DeleteItem(user.Id)"><img src="icons/delete.svg" width="20px" height="20px" alt="delete" /></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}