@page "/columns"
<h3>Columns</h3>
<br/>

<MudGrid Justify="Justify.FlexStart">
    <MudItem xs="11">
        <MudText Typo="Typo.h6" Align="Align.Center" Style="background: red">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</MudText>
        </MudItem>
    <MudItem xs="1">
        <MudText Typo="Typo.h6" Align="Align.Center" Style="background: greenyellow">1</MudText>
        </MudItem>
</MudGrid>

<br/>
<br/>

<MudList Clickable="true" Class="overflow-scroll" Style="max-height: 300px; text-transform:none">
    <MudListItem Icon="@Icons.Material.Filled.Circle" IconSize="Size.Small" IconColor="@Color.Inherit">

        <div class="d-flex flex-grow-1 gap-4">
            <MudCard Class="flex-shrink-1 py-8" Width="100%" Elevation="0" Style="background-color: aqua">
                <MudText Typo="Typo.h6" Align="Align.Center" Style="background: red">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</MudText>
            </MudCard>
            <div class="align-self-center">
                <MudIconButton Icon="@Icons.Filled.Close" aria-label="delete" Size="Size.Small"/>
            </div>
        </div>
    </MudListItem>

</MudList>

<MudAlert Severity="Severity.Normal" Icon="@Icons.Outlined.Info" Class="feedback">
    <div> Have some extra info? <br> <b class="contact"> Contact owner </b></div>
</MudAlert>
