@page "/columns"
<h3>Columns</h3>
<br/>

<MudGrid Justify="Justify.FlexStart">

        <MudItem xs="11">
                <MudText Typo="Typo.h6" Align="Align.Center" Style="background: aqua">11</MudText>
        </MudItem>
        <MudItem xs="1">
                <MudText Typo="Typo.h6" Align="Align.Center" Style="background: greenyellow">1</MudText>
        </MudItem>

</MudGrid>


@code{




}