@page "/dapper"

<MudAlert Severity="Severity.Normal" Icon="@Icons.Outlined.Info" Class="feedback">
    <div> Have some extra info? <br> <b class="contact"> Contact owner </b></div>
</MudAlert>


@code {

}
