.mud-alert.feedback div .mud-alert-icon .mud-svg-icon {
    align-items: center;
    font-size: 18px;
}

.mud-alert.feedback div b.contact {
    cursor: pointer;
}

.mud-alert.feedback div {
    align-items: center;
    font-size: 11px;
}

.mud-alert.feedback {
    padding-top: 0px;
    padding-bottom: 0px;
}


#parent {
    width: 400px;
    height: 400px;
    background-color: white;
    border: 2px solid blue;
    position: relative;
}

#div1 {
    position: absolute;
    bottom: 0;
    right: 0;
    background: green;
    width: 100px;
    height: 100px;
}

#div2 {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: red;
}

#div3 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    background: yellow;
}

#div4 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background: gray;
}

.notification-item {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background: aliceblue;
}

.blue-background {
    border: black;
    border-style: solid;
}

.value-select {
    max-width: 200px;
}

.mud-table-cell-custom-group {
    font-weight: 500;
}

#double-button-left {
    border-radius: 80px 0 0 80px;
    text-transform: none !important;
}

#double-button-right .mud-button-root {
    border-radius: 0 80px 80px 0;
}
