@using Microsoft.Extensions.Localization
@inherits LayoutComponentBase
@inject IStringLocalizer<App> Localizer

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<PageTitle>BlazorLaboratory.BlazorServer</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <b class="mr-3">@Localizer["Blazor Laboratory"]</b>
            <span class="mr-2">Language</span>
            <ChooseLanguage/>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
