@page "/js"
@inject IJSRuntime JsRuntime

<h3>JavaScriptOperations</h3>
<br/>
<h4>Result: @OperationResult</h4>

<div class="d-flex">
    <MudIconButton @onclick="ShowAlert" Variant="Variant.Filled" Color="Color.Info" Icon="@Icons.Material.Filled.PlayArrow" Class="mt-4"></MudIconButton>
    <MudIconButton @onclick="CallJsFunc" Variant="Variant.Filled" Color="Color.Error" Icon="@Icons.Material.Filled.PlayArrow" Class="mt-4 ml-3"></MudIconButton>
</div>


@code {
    public static string OperationResult { get; set; } = "---";

    [JSInvokable]
    public static async Task CallCSharpFunc()
    {
        OperationResult = "Super success!";
        await Task.CompletedTask;
    }

    private async Task CallJsFunc() =>
        await JsRuntime.InvokeVoidAsyncIgnoreErrors("updateResult");

    private async Task ShowAlert() => 
        await JsRuntime.InvokeVoidAsyncIgnoreErrors("showAlert");
}
