@using Microsoft.AspNetCore.Components
@using BlazorLaboratory.Shared.Enums
<MudDialog>
    <DialogContent>
        <EditForm Model="@_course" OnValidSubmit="OnValidSubmit"/>
            @if (_showLoadIndicator)
            {
                <div class="text-center">
                    <MudProgressCircular Color="Color.Info" Indeterminate="true" />
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-sm my-2">
                        <div class="bold-medium">Update Course</div>
                    </div>
                </div>
@*                <div class="row my-2">
                    <div class="col-sm">
                    <MudTextField @bind-Value="_course.Name" Label="Name" Margin="Margin.Normal" Variant="Variant.Outlined" />
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-sm">
                    <MudSelect Label="Role" @bind-Value="_course.Subject" Variant="Variant.Outlined">
                            @foreach (Subject subject in Enum.GetValues(typeof(Subject)))
                            {
                                <MudSelectItem Value="@subject"/>
                            }
                        </MudSelect>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-sm text-end">
                        <button class="btn btn-outline-primary" @onclick="MudDialog.Cancel" type="button">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>*@
            }
        
    </DialogContent>
</MudDialog>

